$height: 22px;

.tags-container {
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
}

.tags {
    display: flex;
    flex: 1;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    box-sizing: content-box;

    li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $color-primary-dark;
        color: $color-primary-darken;
        height: $height;
        border-radius: $height / 2;
        padding: 0 6px;
        margin: 3px 4px;
        font-size: 10px;
        cursor: default;
    }

    li.can-click {
        cursor: pointer;
    }

    li.ok {
        // color: #fff;
        // background-color: $color-green;
        border-color: $color-green;
    }
    li.tags-selected.ok {
        background: linear-gradient(135deg, $color-primary-dark, $color-green);
        border: none;
        height: $height + 2px;
        padding: 0 7px;
    }


    li.warning {
        // color: #fff;
        // background-color: $color-orange;
        border-color: $color-orange;
    }
    li.tags-selected.warning {
        background: linear-gradient(135deg, $color-primary-dark, $color-orange);
        border: none;
        height: $height + 2px;
        padding: 0 7px;
    }


    li.danger {
        // color: #fff;
        // background-color: $color-red;
        border-color: $color-red;
    }
    li.tags-selected.danger {
        background: linear-gradient(135deg, $color-primary-dark, $color-red);
        border: none;
        height: $height + 2px;
        padding: 0 7px;
    }

    li.error {
        color: #fff;
        background-color: $color-gray;
        border-color: $color-gray;
    }

    li.tags-selected.error {
        background: linear-gradient(135deg, $color-primary-darken, $color-gray);
        border: none;
        height: $height + 2px;
        padding: 0 7px;
    }

    .tags-selected {
        background-color: $color-primary-dark;
        color: #fff;
    }
}

.tags-expand {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    user-select: none;
    cursor: pointer;
}
